include LICENSE
include MANIFEST.in
include Makefile
include serv.py
include daemon.py
include monitor.py
graft snakeserver
prune snakeserver/plugins
prune snakeserver/adapters
include snakeserver/plugins/__init__.py
include snakeserver/plugins/readme.txt
graft snakeserver/plugins/example
graft docs
include webapps/__init__.py
graft webapps/account
graft webapps/manage
graft webapps/music
exclude webapps/music/database.bin
graft webapps/ROOT
graft webapps/shop
graft webapps/test
graft webapps/shared1
graft webapps/shared2
include logs/readme.txt
include logging.cfg
include tmp/readme.txt
include userlibs/readme.txt
global-exclude */CVS/*
